# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
data/processed/test_data
*.parquet
*.crc
data/processed/processed_data
*.crc


# ---- Virtual Environment ----
.env
.venv
venv/
env/
conda-env/
logs/
